# Train Test Split

***

The train test split technique can be used for classification and regression problems to test machine learning algorithms. The procedure takes the given dataset and splits it into two subsets: 

* Training dataset: it is used to train the algorithm and fit the machine learning model.
* Test dataset: Using the input element from the training data, the algorithms make predictions.

The model is first to fit on the available data with known inputs and outputs. t is then run to make predictions on the rest of the data subset to learn from it. This can be used to make predictions on future data sets where the expected input and output values are non-existent.

### Train Test Split using Sklearn library

In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('water_potability.csv')

In [ ]:
#to drop null values

In [5]:
df.dropna(inplace=True)

In [9]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [11]:
x=df.drop(columns='Potability')
y=df['Potability']

In [12]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425

In [13]:
y.head()

3    0
4    0
5    0
6    0
7    0
Name: Potability, dtype: int64

In [14]:
# Import train_test_split from sklearn model_selection

from sklearn.model_selection import train_test_split

In [ ]:
# Firstly split the columns into Input and Target Variables (X & y)

X = df[['feature1','feature2','feature3']]
y = df['target_column']

In [16]:
# Assign X_train, X_test, y_train and y_test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)
#random state kodukkunnath same output varanaanu

In [17]:
x.shape

(2011, 9)

In [18]:
y.shape

(2011,)

In [19]:
x_train.shape

(1407, 9)

In [20]:
y_train.shape

(1407,)

In [21]:
x_test.shape

(604, 9)

In [22]:
y_test.shape

(604,)

In [23]:
x_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3198,7.503086,186.713329,32000.178936,7.641776,315.974147,473.531611,12.049131,43.280476,4.305514
1435,5.198225,173.119821,11178.403544,5.893458,343.209876,390.065616,14.160899,65.433008,3.807318
2337,6.676137,192.685849,27468.980170,5.809436,281.406871,299.886997,12.237608,46.069213,4.336648
339,7.543700,161.623142,19116.012084,8.493407,289.959953,440.283446,13.336770,80.243237,3.630537
594,5.284097,185.705492,26532.737255,6.132546,328.139582,543.181748,17.398465,47.066392,4.800963

In [ ]:


# Assign X_train, X_test, y_train and y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

# test_size is used to specify the percent of dataset we want to use as our testing set (Here in this case it 0.3 or 30%)

# the random_state parameter is used for initializing the internal random number generator, which will decide the splitting of
# data into train and test indices in your case.

***

# <center><span style = "color:CornflowerBlue; font-family:Courier New;font-size:40px">EDURE LEARNING</span></center>